*{
	margin:0;
	padding:0;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;33.33%;}
  .col-s-5 {wi}
  .col-s-4 {width: dth: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
}
.search{
	padding-top:84px;
}
.logo{
	padding-top:52px;
}
.item-1{
	justify-content:center;
	padding-bottom:27px;
}
.item-a{
	color:#000;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	border:2px;
}
.item-a:hover{
	color:#8ed1b7;
	text-decoration:underline;
}
.icon{
	padding-top:62px;
	padding-bottom:136px;

}
.asw{
	padding-right:0;
	padding-left:129px;
}
.item-b{
	color:#000;
}
.icon-shopping{
	height:24px;
	width:32px;
	position: relative;
}
.shopping{
	position: absolute;
	top:3px;
	bottom:9px;
	left:22px;
	width:15px;
	height:15px;
	background:#000;
	color:#fff;
	border-radius:9px;
}
/* end header */
/* start section top head */
 
 .imgl{
	background-size: cover;
	width:100%;
	height:600px;
 }
.background-x{
	position:relative;
	inline:block;
}
.text-content{
	padding:0 192px 0;
	position:absolute;
	left:480px;
	bottom:0;
}
.text-top-head{
	padding-top:176px;
	font-family: 'Alex Brush', cursive;
	font-size:4.56rem;
	font-weight:400;
	color:#fff;
}
.text-top{
	font-family: 'Roboto', sans-serif;
	padding-left:18px;
	font-size:1.43rem;
	font-weight:100;
}
.carousel-inner{
	background:center;
}

.text-center-head{
	font-size:4.5rem;
	font-family: 'Titillium Web', sans-serif;
	font-weight:400;
	color:#fff;
}
.text-center{
	font-size:1.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	color:#fff;
}
.text-bottom{
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	text-decoration:underline;
	padding-bottom:192px;
	color:#fff;
}
.ion{
	color:#f0f;
}

}
/* start section top head */


/* start footer */
.ion-a{
	padding-top:10px;
	padding-right:20px;
}
.seach-a{
	padding-top:62px;
}
.product {
	padding-top:50px;
}
.icon-img{
	padding-top:25px;
}
.icon-img-a{
	padding-top:35px;
}
.bg{
	background:#e5d6e53b;
}
.tour{
	text-decoration: line-through;
	padding-left:35px;
	color:#ee0021;
}
.text-sp{
	padding-top:30px;
	font-family: 'Titillium Web', sans-serif;
	font-size:1.37rem;
	padding-left:35px;
	
}
.seal{
	padding-bottom:23px;
	padding-top:10px;
}
.shopping-footer{
	padding-top:18px;
	padding-left:23px;
}
.img-sp-a{
	position: relative;
}
.img-sp{
	width:265px;
	height:256px;
}
.hot{
	position: absolute;
	width:50px;
	height:50px;
	border-radius:50%;
	color:#000;
	background:#f0f;
	left:-20px;
	top:30px;
	padding:15px 10px;
}
.img-featured{
	padding-top:175px;
}
.featured-b{
	padding-left:-15px;
}
.featured-a{
	position:relative;
	width:555px;
	height: 540px;
}
.elip{
	position:absolute;
	width:240px;
	height:240px;
	border-radius:50%;
	background:#f0f;
	left: 160px;
	top: 294px;
	padding: 86px 90px;
	
}
.price-a{
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	font-size:2.8rem;
	color:#fff;
}
.price{
	text-decoration: line-through;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	
}
/* SECtion-footer */
.four{
	padding-top:175px;
}
.four-a{
	margin-bottom: 120px;
	position:relative;
	background:#e7a8c6;
	width:238px;
	height:238px;
	border-radius:50%;
	margin-top:410px;
	background-image:url("img/img10.jpg");
	
}
.four-aa{
    position: absolute;
    top: 70px;
	left: 142px;
	font-weight:600;
}
.four-ab{
	color:#fff;
	left: 55px;
    top: 85px;
	text-align:center;
	position:absolute;
	font-size: 2.85rem;
}
.layer-a{
	position:relative;
}

.layer-aa{
	top:60px;
	position:absolute;
}
.text-a{
	left: -134px;
    font-size: 2rem;
    line-height: 1.5rem;
    letter-spacing: 32px;
    top: 424px;
    transform: rotate(-90deg);
    position: absolute;
	font-family: 'Titillium Web', sans-serif;
	text-shadow:3px 3px 10px #29b54d;
	color:blue;
}
.text-b{
	left: 87px;
	background:#8ed1b7;
	height:771px;
}
.text-ba{
	letter-spacing:12px;
	padding-left:50px;
	padding-top:68px;
	color:#86c5ac;
	line-height:1.5rem;
	font-size:10.5rem;
}
.layer-b{
	top: 200px;
	left:248px;
	position:absolute;
	width:560px;
	height:auto;
}
.text-bb{
	top:275px;
    position: absolute;
    left: 55px;
}
.text-bba{
	line-height:1.5rem;
	font-size:0.67rem;
	font-family: 'Roboto', sans-serif;
	color:#fff;
}
.text-bbb{
	line-height:1.5rem;
	font-size:1.435rem;
	color:#000;
}
.text-bbc{
	line-height:1.5rem;
	padding-top:25px;
	padding-bottom:25px;
	font-size:0.875rem;
	font-family: 'Roboto', sans-serif;
	color:#fff;
}
.text-bbd{
	line-height:1.5rem;
	font-size:0.75rem;
	text-decoration:underline;
	font-family: 'Roboto', serif;
	color:#fff;
}

/* end four*/

/*last section*/
.icon-special{
	text-align:center;
	padding-top:40px;
	background:#1d1e24;
	padding-bottom:50px;
}
.icon-o{
	color:#343640;
	font-size:3.6875rem;
}
.text-c{
	padding-top:46px;
	color:#fff;
	font-size:1.125rem;
	line-height:1.5rem;
}
.text-d{
	color:#767676;
	font-size:0.875rem;
	line-height:1.5rem;
}
/*end section */


.logo-a{
    padding-top: 130px;
	padding-bottom: 25px;
}
.text-e{
	color:#7b7c85;
}
.readmore{
	color:#7b7c85;
}
.text-f{
	padding-bottom:10px;
	font-size:1.3rem;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 90px;
	padding-left:15px;
	color:#1d1e24;
}
.link-b{
	font-size:0.677rem;
	color:#7b7c85;
}
.list-b{
	padding-top:148px;
}
a.instagram{
	color:#1d1e24;
	font-size:1.25rem;
}
.img-footer{
	width:86px;
	height:100px;
}
.fa-instagram{
	padding-bottom:33px;
}
.list-c{
	padding-top:90px;
	padding-left:100px;
}
.payment{
	padding-left:150px;
}
.payment-a{
	padding-top:155px;
}
.d-flex img{
	border:1px solid orange;
}