.App {
  text-align: center;
}
.fullname{
  float: left;
   
}
.useName{
  float: left;
}

.fade{
  float: left;
  margin-left: 30px;
}
.logo-header{
  width: 110px;
  height: auto;
  margin-right: 215px;
}
.index{
  z-index: 1;
  margin: 2px;
  padding: 6px 8px;
  
}
.Name{
  height: 28px;
  border-radius: 5px;
}
.text-form{
  height: 28px;
  width: 366px;
  border-radius: 5px;
  float: left;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 
