@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
	margin:0;
	padding:0;
}
.container{
	width:1140px;
	margin:0 auto;
}
.clearfix{
	overflow:hidden;
}
html{
	font-family: 'Titillium Web', sans-serif;
	font-size:16px;
}
/*Start Header*/
header{
	background:#996699;
	padding-top:57px;
}
.logo,.nav{
	float:left;
}
.logo{
	padding: 0 460px 0 62px;
}
.navbar{
	list-style:none;
	padding:3px 0 0 25px;
}
.nav-item{
	display:inline-block;
}
.nav-link{
	text-decoration:none;
	color: #fff;
	text-transform:uppercase;
	font-size:1rem;
	line-height:1.125rem;
	border-radius:3px;
}
.nav-link:first-child{
	padding-top:8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:nth-child(2){
	padding-top:8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:nth-child(3){
	padding-top:8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:nth-child(4){
	padding-top:8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.nav-link:nth-child(5){
	padding-top:8px;
	padding-left:16px;
	padding-right:17px;
	padding-bottom:6px;
}
.year{
	font-size:2.635rem;
	line-height:3.05rem;
	text-align:center;
	color:#fff;
	padding-top:138px;
}
.nav-link:hover{
	background:#663366;
}
.traw{
	margin:50px 422px 144px 423px;
	background:#ff6633;
	border-radius:5px;
	display:inline-block;
}
.btn{
	padding:26px 82px 24px 82px;
	color:#fff; 
	text-decoration:none;
	font-size:1.125rem;
	text-align:center;
	display:inline-block;
}
.traw{
}
.btn:hover{
	background:#eb564b;
}
/*End Header*/
/* start mani */
.retw{
	background:#17c2a4;
	padding-top:119px;
}
.logo-main{
	color:#fff;
	text-align:center;
}
.logo-top{
	/* padding:0px 333px 21px  333px */
	font-size:2.5rem;
	line-height:1.87rem;
	text-align:center;
	
}
.logo-bottom{
	padding:21px 268px 77px 268px;
	font-size:1.125rem;
	line-height:1.625rem;
}
.img-main{
	float:left;
	color:#fff;
	text-align:center;
 }
.imgleft{
	padding:0px 47px 127px 53px;
	float:left;
}
.imgcenter-a{
	padding:0px 62px 127px 45px;
	float:left;
}
.imgcenter-b{
	padding:0px 51px 127px 34px;
	float:left;
}
.imgright{
	padding:0px 37.95px 127px 53px;
	float:left;
}
.texl-i{
	margin:54px 0px 19px 0px;
	text-transform:uppercase;
	font-size:1.5rem;
}
.center-w-q{
	background:#e7f1f8;
	padding-top:115px;
	
}
.texl-center-top{
	text-align:center;
}
.texl-top{
	padding:0px 291px;
	font-size:2.58rem;
	line-height:1.92rem;
	text-align:center;
}
.texl-bottom{
	font-size:1.1rem;
	padding:48px 250px 0px 249px;
	text-align:center;
}
.yw{
	background:#e7f1f8;
	text-align:center;
}
.item-a-a{
	margin:78px 40px 126px 50px;
	float:left;
	text-align:center;
	
 }
.item-a-b{
	margin:78px 40px 126px 39.5px;
	float:left;
	text-align:center;
 }
 .item-a-c{
	margin:78px 40px 126px 39.5px;
	float:left;
	text-align:center;
 } 
.item-a-d{
	margin:78px 40px 126px 50px;
	text-align:center;
	float:left;
}
.love{
	text-direction:none;
	
}
.icon-a{
	font-size: 2rem;
	color:#ccc;
}
.fab fa-twitter{
	color:#ccc;
}
.intro-a{
	border-radius: 50%;
	background-color:#999999;
	width: 200px;
	height: 200px;

}
.texl-center-y{
	color:#30bae7;
	text-align:center;
	padding-bottom:26px;
}
.texl-center-b{
	color:#333366;
	text-align:center;
	padding:38px 0 16px 0;
	
}
.texl-center-t{
	text-align:center;
	padding-bottom:30px;
}
.icon{
	text-align:center;
	padding-bottom:126px
}
center-c{
	background:#ffffff;
	padding-top:118px;
}
.ww{
	color:#3c4761;
	font-size:2.5 rem;
	text-align:center;
}
.rr{
	font-size:1.125rem;
	text-align:center;
	color:#3c4761;
}
.frontpager{
	text-align:center;
}
.img-percent-a{
	text-align:center;
	float:left;
}
.img-percent-b{
	text-align:center;
	float:left;
}
.img-percent-c{
	text-align:center;
	float:left;
}
.img-percent-d{
	text-align:center;
	float:left;
}
.trq-a{
	padding:84px 60px 31px 70px;
}
.oo{
	position:absolute;
}
.trq-b{
	padding:84px 60px 31px 60px;
	
}
.trq-c{
	padding:84px 60px 31px 60px;
	
}
.trq-d{
	padding:84px 60px 31px 40px;
	
}
.nuy{
	padding-bottom:122px;
	color:#3c4761;
	font-size:1.5rem;
}
.percent-center-d{
	text-align:center;
}
.center-d{
	background:#ffcc99;
}
.top-p{
	padding-top:120px;
	font-size:2.5rem;
	line-height:1.87rem;
}
.bottom-p{
	line-height:1.625rem;
	font-size:1.125rem;
	padding-bottom:46px;
}
.nav-center-d{
	text-decoration: none;
	color: #000;
	/* text-transform:uppercase; */
	font-size:1.125rem;
	line-height:1.21rem;
	border-radius:5px;
	float:left;
}
.nav-d{
	list-style:none;
	margin:46px 10px 63px 381px;
	float:left;
}
.item-center-d{
	background:#ebc985;
	display:inline-block;
	padding-top:9px;
	padding-bottom:8px;
	padding-left:20px;
	padding-right:20px;
	text-align:center;
	
}
.nav-center-d:hover{
	background:#fff;
	text-align:center;
	font-size:1.125rem;
	
	
}
.nav-center-d:first-child{
	padding:7px 37px 7px 35px;
}
.nav-center-d:nth-child(1){
	padding:7px 25px 7px 25px;
}
.nav-center-d:nth-child(2){
	padding:7px 22px 7px 22px;
}
.nav-center-d:nth-child(3){
	padding:7px 20px 7px 20px;
}
.img-center-q-left{
	float:left;
	width:50%
	
}
.pc2-a{
	padding-left:20px;
}
.terw{
	
	padding-left:20px;
	
}
.oppo{
	text-align:center;
	padding:26px 137px 62px 152px;
}
.img-center-q-right{
	float:left;
	width:50%
}
.texl-q-bottom{
	margin:0px 422px 108px 423px;
	background:#00cc99;
	border-radius:3px;
	display:inline-block;
}
.floo{
	padding:24px 56px 24px 57px;
	color:#fff; 
	text-decoration:none;
	font-size:1.125rem;
	line-height:1.63rem;
	text-align:center;
	display:inline-block;
}
.share{
	background:#cc3399;
	padding-top:113px;
}
.main-bottom-a{
	text-align:center;
}
.main-top-a{
	font-size:2.5rem;
	line-height:1.81rem;
	color:#ffffff;
	text-align:center;
	padding-top:10px;
}
.main-top-b{
	color:#ffffff;
	font-size:1.125rem;
	line-height:1.625rem;
	padding-top:28px;
	padding-bottom:70px;
}
.main-bottom-b{
	/* text-align:center; */
	/* float:left; */
}
.icon-right{
	padding-left:20px;
	padding-right:46px;
	float:left;
}
.icon-left{
	padding-left:46px;
	padding-right:24px;
	float:left;
}

.icon-main-a{
	float:left;
}
.icon-main-b{
	padding-top:147px;
	float:left;
}

.pertro{
	border-radius:50%;
	background-color:#999999;
	width:96px;
	height:96px;
	float:left;
}
.texl-icon-right{
	float:left;
	padding-left:48px;
}
.tab-a{
	font-size:1.3125rem;
	line-height:1.95rem;
	color:#ffff;
}
.tab-b{
	padding-top:28px;
	padding-bottom:3px;
	font-size:1.5rem;
	line-height:1.625rem;
	color:#ffff;
}
.tab-c{
	padding-bottom:144px;
	font-size:1.125rem;
	line-height:1.625rem;
	color:#ffcc99;
}
.tab-c-c{
	padding-bottom:130px;
	font-size:1.125rem;
	line-height:1.625rem;
	color:#ffcc99;
}
footer{
	background:#336699;
	background:#336699;
}
.footer-top{
	text-align:center;
	padding-top:117px;
}
.footer-top-a{
	font-size:2.5rem;
	color:#fff;
	line-height:1.87px;
	padding-bottom:10px;
}
.footer-top-c{
	font-size:1.125rem;
	line-height:1.625rem;
	color:#fff;
	padding-top:20px;
	padding-bottom:76px;
}
.footer-cener-top{
	float:left;
	width:48%;
	border-radius:3px;
	position:relative;
	border:none;
}
.footer-center-bottom{
	float:left;
	width:48%;
	border-radius:3px;
	position:relative;
}
.footer-bottom{
	margin:30px 25px;
	border:none;
}
.poi{
	padding:30px 45px 56px 45px;
	color:#fff;
	background:#273a71;
	width:90%;
	height:120px;
	max-width:100%;
	border-radius:3px;
	width:920px;
}
.treq{
	margin-left:10px;
	padding-left:20px;
	color:#fff;
	font-size:1.125rem;
}
.foloow{
	width:80%;
	background:#273a71;
	padding:15px 25px;
	border-radius:5px;
}
.floo:hover{
	background:#272971;
}
.footer-bottom-a{
	margin:25px 422px 115px 423px;
	background:#33ccff;
	border-radius:3px;
	display:inline-block;
}
.footer-texl-a{
	padding:25px 82px 25px 82px;
	color:#fff; 
	text-decoration:none;
	font-size:1.125rem;
	text-align:center;
	display:inline-block;
}
.uyne{
	background:#333399;
	padding-top:43px;
}
.footer-texl-a:hover{
	background:#336fff;
}
.tahu{
	float:left;
	display:inline-block;
	margin:0px 36px 30px 40px;
}
.tahu-a{
	float:left;
	color:#fff;
	text-align:center;
	font-size:1.5rem;
	text-decoration:none
}
.tahu-a:hover{
	color:#336f99;
}
.footer-bottom-a:hover{
	background:#0b6482;
}
.tpl{

	position: absolute;
	text-align:center;
}